# --- Core de Django y API ---
Django==6.0
djangorestframework==3.16.1

# --- Autenticación y Seguridad ---
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0

# --- Servidor de Producción y Base de Datos ---
gunicorn
dj-database-url
psycopg2-binary
whitenoise

# --- Utilidades ---
python-dateutil
requests
